<!-- About view -->

<div class="container well">
  <div id="about" class="container">
    <div class="page-header">

      <h2 class="text-center">Who am I?</h2>
    </div>
    <p class="lead text-center">A web developer specializing in full-stack development. In my previous job, I had 4 years of working as manufacturing engineer at Foxconn with 3 years supervisory experience overseeing a team of 7 engineers.
As an engineer, I accumulated a great deal of experience in the lean and kaizen methodologies, which means I am adept at optimizing processes and eliminating waste.  <br>
Now, as an aspiring full-stack web developer, I hope to apply those same principles of efficiency and productivity to my process of coding and web development.  </p>

</div>
<hr>
