<!-- States view -->
<div class="container">
  <br>
  <h1 class="page-header"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> States</h1>
  <label for="singleSelect">Choose a State:</label><br>
  <select id="singleSelect" name="singleSelect" class="form-control" ng-model="vm.selState" ng-change="vm.stateChanged()">
    <option ng-repeat="state in vm.statesList" value="{{state.abbreviation}}">{{state.abbreviation}}</option>
    <!-- interpolation -->
  </select>
  <br>
  <hr>
  <div class="table-responsive well well-sm">
    <table border="1" width="100%" class="table table-hover table-bordered table-striped text-center">
    <tr class="info">
    <th class="text-center" ng-click="vm.orderByMe('name')">Name <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('abbreviation')">Abbreviation <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('capital')">Capital <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('most-populous-city')">Most-populous-city <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('population')">Population <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('miles')">Miles <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('time-zone-1')">Time-zone-1 <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('time-zone-2')">Time-zone-2 <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    <th class="text-center" ng-click="vm.orderByMe('dst')">Daylight Saving Time? <span class="glyphicon" ng-class="{'glyphicon-triangle-top' : vm.reverse, 'glyphicon-triangle-bottom' : !vm.reverse}" aria-hidden="true"></span></th>
    </tr>
    <tr ng-repeat="state in vm.states | orderBy: vm.myOrderBy: vm.reverse">
    <td>{{state.name}}</td>
    <td>{{state.abbreviation}}</td>
    <td>{{state.capital}}</td>
    <td>{{state['most-populous-city']}}</td>
    <td>{{ state.population | number }}</td>
    <td>{{ state.miles | number }}</td>
    <td>{{ state['time-zone-1'] }}</td>
    <td>{{ state['time-zone-2'] }}</td>
    <td>{{ state.dst }}</td>
    </tr>
    </table>
  </div>

</div>
<hr>
