<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular RESTful Resources</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-resource.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/main-controller.js"></script>
  <script src="js/resources/todo-resource.js"></script>
  <script src="js/resources/state-resource.js"></script>
</head>
<body class="container" ng-controller="MainController as vm">

  <!--Navbar -->
  <div class="container">
    <div class="header">
      <div class="navbar nav-pills pull-right" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">TechniCOLOR Angular</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <!-- menu options only when loggedin -->
            <ul class="nav navbar-nav" ng-show="vm.isLoggedIn">
              <li><a ng-href="#/main">Messages</a></li>
              <li><a ng-href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--navbar container -->

  <!-- jumbotron -->
  <div class="jumbotron text-center"><h1>TechniCOLOR</h1></div>
  <!-- jumbotron -->

  <!-- Login Screen-->
  <div class="container" ng-hide="vm.isLoggedIn">
    <div class="row">
      <div class="col-sm-12">
        <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
          <span ng-bind="vm.loginerror" class="locked" style="color:#ff0000;"></span>
          <div class="form-group">
            <label>User Name</label>
            <input type="text" name="user" placeholder="username" class="form-control" ng-model="vm.user.username" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" class="form-control" ng-model="vm.user.password" required>
          </div>
          <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
  <!-- Login Screen -->

    <!-- views -->
    <div class="container">
    <div ng-view=""></div>
    </div>
    <!-- views -->

  <!--States view -->
  <div class="container" ng-show="vm.isLoggedIn">
    <br>
    <h1 class="page-header">/States</h1>
    <label for="singleSelect">Choose a State:</label><br>
    <select id="singleSelect" name="singleSelect" class="form-control" ng-model="vm.selState" ng-change="vm.stateChanged()">
      <option ng-repeat="state in vm.states" value="{{state.abbreviation}}">{{state.abbreviation}}</option>  <!-- interpolation -->
    </select>
    <br>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="state in vm.states">
        <h4>Name: {{state.name}}</h4>
        <p>Abbreviation: {{state.abbreviation }}</p>
        <p>capital: {{state.capital }}</p>
        <p>most-populous-city: {{ state['most-populous-city'] }}</p>
        <p>population: {{ state.population }}</p>
        <p>square-miles: {{ state.miles }}</p>
        <p>time-zone-1: {{state.time1}}</p>
        <p>time-zone-2: {{state.time2}}</p>
        <p>dst: {{state.dst}}</p>
      </li>
    </ul>
  </div> <!--States view -->


  <!-- Footer -->
  <div class="footer">
    <div class="container text-center">
      <p>Made with <span class="glyphicon glyphicon-heart" style="color:red;"></span> from Joey Lin</p>
    </div>
  </div>
  <!-- Footer -->


  <!-- Angular RESTFUL todos
  <select class="form-control" ng-model="vm.selUserId" ng-change="vm.userChanged()">
    <option ng-repeat="user in vm.users" value="{{user.id}}">{{user.firstName}}</option>
  </select>
  <br>
  <input type="text" class="form-control" placeholder="new todo..." ng-model="vm.newTodo">
  <br>
  <button class="btn btn-success" ng-click="vm.addTodo()">Add Todo</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="todo in vm.todos" ng-click="vm.selectTodo(todo)">
      <span ng-hide="vm.todoEditing === todo">{{todo.title}}</span>
      <span ng-show="vm.todoEditing === todo">
        <input type="text" ng-model="todo.title">
        <button class="btn btn-xs btn-info" ng-click="vm.doneEditing(todo)">Save</button>
      </span>
      <br>
      <input type="checkbox" ng-model="todo.completed" ng-change="todo.$update()"> Done
      <button class="btn btn-xs btn-danger" ng-click="vm.deleteTodo(todo)">X</button>&nbsp;
    </li>
  </ul>   -->

</body>
</html>
